* {}

:root {
    --cor-principal: #a37c22;
    --cor-capa-do-livro: #540000;
    --cor-fundo: #f4dbab;
    --fonte-rabisco: 'Fredericka the Great', cursive;
}

h2 {
    font-size: 2rem;
    font-family: var(--fonte-rabisco);
    font-weight: 500;
    color: var(--cor-capa-do-livro);
    text-decoration: none;
    letter-spacing: -0.03rem;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;
    background-image: url("../imagens_livro/textura\ fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    mix-blend-mode: multiply;
    transition: opacity 0.5s ease;
}

/* TOPO COM IMAGEM */
.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    gap: 10px;
    max-width: 1100px;
    margin: 0 auto;
}

/* MENU */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0 4px;
    border-bottom: #000000 2px solid;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 8px 10px;
    width: 100%;
    max-width: 1100px;
    font-size: 0.9rem;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 4px 6px;
    transition: 0.3s;
}

.titulo a img,
.inicio {
    border: none;
}

.menu ul li a:hover {
    color: #f1c40f;
}


.inicio {
    position: absolute;
    left: 10px;
    top: 50px;
    height: 100px;
    width: auto;
    z-index: 1001;
}

.entrada {
    background-image: url("../imagens_livro/textura.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    padding-top: 130px;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.4));
    cursor: pointer;
}

.container-esquerda {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    left: 50px;
    max-width: 200px;
    margin: 0 auto;
    padding: 0 20px;
    opacity: 0.2;
}

.container-esquerda:hover {
    opacity: 0.4;
    transition: 0.3s ease;
    cursor: pointer;
}

.container {
    color: #000000;
    text-decoration: none;
    border: none;
    max-width: 500px;
    opacity: 0.2;
}

.container:hover {
    opacity: 0.4;
    transition: 0.3s ease;
    cursor: pointer;
}

.container-bill a {
    color: #000000;
    text-decoration: none;
}

.container-bill a:hover,
.container-bill a:focus,
.container-bill a:active {
    color: #000000;
    text-decoration: none;
}

.simbolo {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    pointer-events: none;
}

.simbolo img {
    width: 600px;
    height: auto;
}

.livro img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;

}

.nota {
    background-image: url(/landing-page-livro/imagens_livro/textura3.png);
    max-width: 40rem;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2rem;
}

.conteudo_nota {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.titulo_nota {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}